input {
    margin-bottom: 10px;
}

#commands {
    width: 45%;
    height: 50%;
    float: left;
    border: 1px solid black;
    overflow-y: scroll;
}

#received {
    width: 50%;
    height: 50%;
    margin-left: calc(45% + 10px);
    border: 1px solid black;
    overflow-y: scroll;
}

#info {
    position: absolute;
    width: 50%;
    margin-left: calc(45%);
    border: 1px solid black;
}

#info th, #info td {
    border: 1px solid black;
}

.toggle {
    background-color: white;
    border-style: solid;
}
.toggle.hidden {
    background-color: lightgray;
}